{
  "extends": [ "standard", "plugin:react/recommended" ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "modules": true,
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  }
}